= wrap_layout 'common' do
  .container

    .row
      .col-12.pt-3
        = partial "partials/article_nav", locals: {article: current_article}

    .row
      %article.col-12.py-3
        %header
          %h1= current_article.title
          %p.text-secondary= current_article.date.strftime('%a, %b %e, %Y')
        = current_article.body

    .row
      .col-12.pb-3
        = partial "partials/article_nav", locals: {article: current_article}

